<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AcklenAvenue.Commands" version="1.0.2.12" targetFramework="net45" />
  <package id="AcklenAvenue.EventSourcing" version="1.0.3.26" targetFramework="net45" />
  <package id="BlingBag" version="1.4.0.14" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.7" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="Rewardle.Accounts.Events" version="1.0.573.0" targetFramework="net45" />
  <package id="Rewardle.Businesses.Events" version="1.0.573.0" targetFramework="net45" />
  <package id="Rewardle.Core.Domain" version="1.0.622.0" targetFramework="net45" />
</packages>